body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.parent {
    display: flex;
    flex-direction:row;
}

.column {
    flex: 1 1 0px;
    border: 1px solid black;
    float:left;
}

.clear{
    clear:both;
}
